<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="vacuum_gripper" params="prefix parent *origin">
<!--        TODO  check $ in repos! -->
        <joint name="${prefix}vacuum_gripper_joint" type="fixed">
            <xacro:insert_block name="origin"/>
            <parent link="${parent}"/>
            <child link="${prefix}vacuum_gripper_link"/>
        </joint>
        <link name="${prefix}vacuum_gripper_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://vacuum_gripper/meshes/vacuum_gripper.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="dark_grey">
                    <color rgba="0.1 0.1 0.1 1"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://vacuum_gripper/meshes/vacuum_gripper.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>
<!--        TODO -  add EE-link-->
        <link name="${prefix}tcp_link"/>
        <joint name="${prefix}tcp_joint" type="fixed">
            <!-- <origin xyz="0.107 0 -0.032" rpy="0 2.07079632679 0"/> -->
            <origin xyz="0 -0.054 0.035" rpy="0 0 0"/>
            <parent link="vacuum_gripper_link"/>
            <child link="${prefix}tcp_link"/>
        </joint>
    </xacro:macro>
</robot>