<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="zimmer_gp406n" params="prefix parent *origin">
<!--        TODO  check $ in repos! -->
        <joint name="${prefix}gripper_joint" type="fixed">
            <xacro:insert_block name="origin"/>
            <parent link="${parent}"/>
            <child link="${prefix}gripper_link"/>
        </joint>
        <link name="${prefix}gripper_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://zimmer_gp406n/meshes/gripper_binary.stl"/>
                </geometry>
                <material name="dark_grey">
                    <color rgba="0.1 0.1 0.1 1"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://zimmer_gp406n/meshes/gripper_binary.stl"/>
                </geometry>
            </collision>
        </link>
<!--        TODO -  add EE-link-->
        <!-- <link name="${prefix}zimmer_gripper_link"/>
        <joint name="${prefix}gripper_joint" type="fixed">
            <origin xyz="0.107 0 -0.032" rpy="0 2.07079632679 0"/>
            <parent link="${parent}"/>
            <child link="${prefix}zimmer_gripper_link"/>
        </joint> -->
    </xacro:macro>
</robot>