<?xml version="1.0"?>
<robot name="kuka_kr6" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find kuka_kr6_description)/urdf/kr6r900_2_macro.xacro"/>
    <xacro:arg name="initial_positions_file" default="$(find kuka_common)/config/initial_positions.yaml"/>
    <xacro:arg name="robot_ip" default="10.181.116.41"/>
    <xacro:arg name="eki_robot_port" default="54600"/>
    <xacro:arg name="use_fake_hardware" default="true"/>
    <xacro:kuka_kr6r900_2 prefix="" initial_positions_file="$(arg initial_positions_file)"
                          robot_ip="$(arg robot_ip)" eki_robot_port="$(arg eki_robot_port)"
                          use_fake_hardware="$(arg use_fake_hardware)"/>
</robot>
