<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="kuka_ros2_control" params="name robot_prefix initial_positions_file robot_ip eki_robot_port use_fake_hardware">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <xacro:if value="${use_fake_hardware}">
                    <plugin>fake_components/GenericSystem</plugin>
                </xacro:if>
                <xacro:unless value="${use_fake_hardware}">
                    <plugin>kuka_eki_hw_interface/KukaEkiHardwareInterface</plugin>
                    <param name="robot_ip">${robot_ip}</param>
                    <param name="eki_robot_port">${eki_robot_port}</param>
                </xacro:unless>
            </hardware>
            <joint name="${robot_prefix}joint_a1">
                <param name="initial_position">${initial_positions['joint_a1']}</param>
                <command_interface name="position"/>
                <state_interface name="position"/>
            </joint>
            <joint name="${robot_prefix}joint_a2">
                <param name="initial_position">${initial_positions['joint_a2']}</param>
                <command_interface name="position"/>
                <state_interface name="position"/>
            </joint>
            <joint name="${robot_prefix}joint_a3">
                <param name="initial_position">${initial_positions['joint_a3']}</param>
                <command_interface name="position"/>
                <state_interface name="position"/>
            </joint>
            <joint name="${robot_prefix}joint_a4">
                <param name="initial_position">${initial_positions['joint_a4']}</param>
                <command_interface name="position"/>
                <state_interface name="position"/>
            </joint>
            <joint name="${robot_prefix}joint_a5">
                <param name="initial_position">${initial_positions['joint_a5']}</param>
                <command_interface name="position"/>
                <state_interface name="position"/>
            </joint>
            <joint name="${robot_prefix}joint_a6">
                <param name="initial_position">${initial_positions['joint_a6']}</param>
                <command_interface name="position"/>
                <state_interface name="position"/>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
